<% if @recipients.empty? %>
  <div class="card mb-3 text-center bg-faded btn-pill">
    <div class="card-block">
      <blockquote class="card-blockquote">
        Looks like your Dog Pack is empty! You won't be able to WUPHF until you add a few friends!
      </blockquote>
    </div>
  </div>
<% end %>
