<div class="card mt-3 mb-3 text-center border-0">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <strong>
        <% if twitter_is_connected? %>
          Your Twitter Is Connected! WUPHF's will be Tweeted from your account to Dog Pack Members! <%= link_to "Unlink Twitter", dashboard_twitter_unlink_path %>
        <% else %>
          Your Twitter Is Not Connected. You will not be able to send Tweets to Dog Pack members! <%= link_to "Link Now!", dashboard_twitter_auth_path %>
        <% end %>
      </strong>
    </blockquote>
  </div>
</div>
