<div class="card mb-3 text-center bg-faded btn-pill">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <% if twitter_is_connected? %>
        Your Twitter Is Connected! <%= link_to "Unlink @#{@twitter.client.user.screen_name}", dashboard_twitter_unlink_path, data: { confirm: 'Are You Sure?' } %>
      <% else %>
        No Twitter Account Connected. <%= link_to "Link Your Twitter To Tweet Your Dog Pack Members <i class='fa fa-arrow-right'></i>".html_safe, dashboard_twitter_auth_path %>
      <% end %>
    </blockquote>
  </div>
</div>
