<!--
<h2>Link Social Media Accounts Here</h2>
<%= link_to "Link Twitter", dashboard_twitter_auth_path %>
 -->

<!-- form to submit a wuphf -->
<!-- <h2>submit a wuphf here</h2>
<select id="select-recipient" placeholder="Select a person...">
  <option value="">Select a person...</option>
  <% @recipients.each do |recipient| %>
    <option><%= recipient.email %></option>
  <% end %>
</select>
<script>
$('#select-recipient').selectize();
</script> -->

<div class="container">
  <h2 class="mt-3 mb-3">Your Dog Pack</h2>

  <div class="card-deck">
    <%= render @recipients %>
  </div>
</div>

<hr>
