<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>WUPHF WUPHF FROM THE DOG PACK</h1>
    <h3><%= @from.upcase %> WUPHF'D YOU:</h3>
    <p><%= @message %></p>
    <hr>
    <p>Bark back at <a href="http://www.wuphf.io/">wuphf.io</a></p>
  </body>
</html>
