<div class="container p-3">
  <div class="row">
    <div class="col-lg-7 mb-5">
      <%= line_chart @dataset %>
    </div>
    <div class="col-lg-5">
      <section class="text-center">
        <%= image_tag("dog_money.svg",size: "230", alt: "Money Bags Baby", class: "img-fluid mb-4") %>
      </section>
      <h3 class="text-center text-orange text-bold">Attention Investors!</h3>
      <p>
        As you can see, we crunched the numbers. Based on WUPHF's six-month projected revenue, it will only take half a year to make a billion dollars. During this six-month time period, WUPHF will also be able to achieve about one billion daily active users. That's more than Facebook, Instagram, Twitter, Aviato, Uber, and Google combined.
      </p>

      <p>
        WUPHF.io is opening up a round for series A investments. Act now!
      </p>
    </div>
  </div>
</div>

<hr>
