// Redefine bootstrap variables here
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i');

// Fonts
$font-family-base: 'Raleway', sans-serif;

// Colors
$orange: #fc852e;
$brand-primary: $orange;
