<div id="hero">
  <div class="header">
    <div class="container">
      <%= image_tag("wuphf_logo_white.svg", size: "80x80", alt: "WUPHF.", class: "img-fluid") %>
      <h1>Whenever. Wherever.</h1>
      <h3>The Last Word in Social Networking</h3>

      <p>
        Try Wuphf Today<br>
        <i class="fa fa-angle-down animated tada"></i>
      </p>
    </div>
  </div>
</div>
