<div id="hero">
  <div class="container">
    <%= image_tag("dogs.svg",size: "600", alt: "Create a Dog Pack", class: "img-fluid pb-2 animated lightSpeedIn") %>
    <h3>Whenever. Wherever.</h3>
  </div>
</div>
