<div id="hero" class="home-padding pb-0">
  <div class="container">
    <h1>Wuphf <span class="who-to-wuphf"></span></h1>
    <h4>Email, Text, and Tweet Your Friends on a Single Platform</h4>
  </div>
</div>
