<h3 class="text-orange text-bold">Wuphf a Friend Today</h3>
<p class="mb-5">Getting started with Wuphf is easy. So easy, a dog could do it.</p>

<h3 class="text-orange text-bold">Requires Some Typing</h3>
<p class="mb-5">Simply fill out the form with your name along with the recipient's information.
You must provide their name, email, phone number, Twitter handle, and a message. The message should be important.</p>

<h3 class="text-orange text-bold">Guaranteed To Annoy Friends</h3>
<p class="mb-5">The Wuphfee will recieve an email, text message, and a shoutout from Wuphf's twitter account.</p>

<h3 class="text-orange text-bold">Multi-Language Support</h3>
<p class="mb-5">Woof woof woof. Ruff ruff. Bark bark bark. WUPHF WUPHF. Woof woof? Woof.</p>
