<div class="bg-purple text-white home-padding">
  <div class="container">
    <h1 class="text-extra-bold text-center">Sign Up For A Free Account</h1>
    <hr>
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="mb-4">
          <h4 class="text-bold">Grow Your Dog Pack</h4>
          <p class="text-left mb-3">
            Manage and create contacts in your Dog Pack. Sending a Wuphf has never been this easy and accessible.
          </p>
        </div>

        <div class="mb-4">
          <h4 class="text-bold">Link Your Twitter</h4>
          <p class="text-left mb-3">
            Connect your Twitter account so that your Wuphfs will be tweeted directly from your own twitter account.
          </p>
        </div>
        <div class="mb-4">
          <h4 class="text-bold">Annoy Your Colleagues</h4>
          <p class="text-left mb-3">
            Does it feel like Bill from accounting is ignoring you? Try sending him a Wuphf!
          </p>
        </div>
      </div>
    </div>

    <hr>
    <%= link_to new_user_registration_path, class: "text-white" do %>
      <section class="text-center">
        <button class="btn btn-lg btn-outline-primary btn-pill text-white border-white mt-3">Get Started Today</button>
      </section>
    <% end %>
  </div>
</div>
