<%= render 'hero' %>

<div class="container">
  <div class="row home-padding">
    <div class="col-lg-8 offset-lg-2">
      <h5 class="text-orange text-bold mb-3">Send a Wuphf Right Now</h5>
      <%= render 'form' %>
    </div>
  </div>
</div>

<%= render 'marketing' %>

<% content_for :page_js do %>
  <script type="text/javascript">
    <%= render file: "#{Rails.root}/app/views/demo_wuphfs/js/call_to_action.js" %>
  </script>
<% end %>
