<%= render 'hero' %>

<div class="container">
  <div class="row p-5">
    <div class="col-lg-5">
      <%= render 'marketing' %>
    </div>

    <div class="col-lg-6 offset-lg-1 pt-3 bg-faded">
      <%= render 'form' %>
    </div>
  </div>
</div>
