<footer>
  <div class="container text-center p-3 mt-3">
    <i class="fa fa-github fa-fw"></i> <a href="https://github.com/jeanpaulsio/wuphf" class="text-orange" target="_blank">View Project on Github</a>
  </div>
</footer>
