<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse hidden-xs-down">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">wuphf</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-thin" href="https://twitter.com/wuphfwuphf" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-thin" href="https://github.com/jeanpaulsio" target="_blank"><i class="fa fa-github fa-fw"></i></a>
      </li>
    </ul>
  </div>
</nav>
